.App {
  text-align: center;
  position: relative;

  background: none;
  margin: 0 auto;
  height: 700px;
  width: 100%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

.App-links {
  position: relative;
  background: none;
  margin: -70px 0 0 -120px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 35%;
  padding: 20px;
}

.App-links div {
  display: inline-block;
  text-align: left;
  margin: 60px;
  background: none;
}

.App-logo-button {
  align-items: left;
  height: 90px;
  width: 199px;
  border: none;
  background: none;
}

.App-find-button {
  align-items: center;
  height: 100px;
  width: 210px;
  border: 5px solid black;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  font-size: 30px;
  opacity: 0.7;
}

.App-upload-button {
  align-items: center;
  height: 100px;
  width: 210px;
  border: 5px solid black;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  font-size: 30px;
  opacity: 0.7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
